.error-page {

  .main-content {
    padding: 145px 0 0;
  }

  .error-content {
    margin: 0 auto;
    max-width: 560px;
    padding: 0 40px 127px;

    .logo {
      margin-right: 20px;

      @media (max-width: 425px) {
        float: none;
        margin-right: 0;

        img {
          margin: 0 auto;
        }
      }
    }

    .txt {
      padding-top: 10px;

      h1 {
        margin-bottom: 13px;
      }

      p {
        margin-bottom: 20px;
      }

      .return-index {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .error-footer {
    background: url("../images/error-border.jpg") center 0 repeat-x;
    padding: 56px 40px 46px;
    text-align: center;

    nav li {
      display: inline-block;
      margin: 0 3px 10px;
    }
  }

  @media (max-width: 719px) {

    .main-content {
      padding: 50px 0 0;
    }

    .error-content {
      padding: 0 20px 60px;
    }
  }
}